<template>
    <div>
        <h1>BitBoss Frontend Test</h1>
        <router-view></router-view>
    </div>
</template>

<script>

    import axios from 'axios'


    export default {
        name: 'App',
        components: {

        },
        data() {
            return {
                api_token: 'keykl3tMFSnwH2gmc'
            }
        },
        created() {
          this.getLists()
        },

        methods: {
            async getLists() {
                /*
                @todo complete this method, send GET request using "lists" url inside getApiURL method
                */
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.api_token}`,
                        'Content-Type': 'application/json'
                    }
                };
                const ret = await axios.get(this.getApiURL("lists"), config)
                console.log(ret)
            },
            storeRows(data) {
                /* data structure {
                    name: "Paul",
                    ids: ["asdf32fad","234aassdf32fad"]
                }
                */
                /*
                @todo complete this method, use once request (like storeRow)

            */
            },

            /* send POST request using "friendRequest" url inside getApiURL method */
            storeRow(data) {
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.api_token}`,
                        'Content-Type': 'application/json'
                    }
                };
                const bodyParameters = {
                    "records": [
                        {
                            "fields": {
                                "From": data.name, // your name
                                "To": [
                                    data.id // member ID (use lists request to show possible values)
                                ]
                            }
                        }
                    ]
                };

                /*
                @todo complete this method, send POST request using header and body parameters
                */
            },

            getApiURL(model) {
                switch(model) {
                    case "lists":
                        return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/tblWcsEyTOIf47ZuQ?api_key=" + this.api_token;
                    case "friendRequest":
                        return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request";
                    default:
                        return "";
                }
            }

        }
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
